.customers {
}

.customers_title {
  margin-bottom: 72px;

  text-align: center;
  font-size: var(--title1-size);
  line-height: var(--title1-height);
}

.customers_icon-list {
  display: flex;
  justify-content: space-between;
}

.customers_icon-box {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 168px;
  height: 88px;
  border: 1px solid #8e8f99;
  border-radius: 4px;

  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);

  .icon {
    fill: #8e8f99;

    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  &:hover,
  &:focus {
    border: 1px solid var(--hover-color);
  }

  &:hover .icon,
  &:focus .icon {
    fill: var(--hover-color);
  }
}
