.our-team {
  background-color: var(--bg-color3);
}

.our-team_title {
  margin-bottom: 72px;

  font-size: var(--title1-size);
  line-height: var(--title1-height);
  text-align: center;
  text-transform: capitalize;
}

.our-team_list {
  display: flex;
  justify-content: space-between;
}

.our-team_point {
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16),
    0px 2px 1px rgba(46, 47, 66, 0.08);
  border-radius: 0px 0px 4px 4px;
  background-color: #ffffff;
}

.our-team_text-box {
  padding: 32px 16px;
}

.our-team_list-title {
  margin-bottom: 8px;
  text-align: center;

  font-weight: var(--title2-weight);
  font-size: var(--title2-size);
  line-height: var(--title2-height);
  letter-spacing: 0.02em;
}

.our-team_list-paragraf {
  text-align: center;
}

.our-team_icon-list {
  display: flex;
  gap: 24px;
  margin-top: 8px;
  justify-content: center;
}

.our-team_icon-box {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: var(--accent-color);
  cursor: pointer;

  transition: background-color 250ms
    cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    background-color: var(--hover-color);
  }

  .icon {
    fill: #ffffff;
  }
}
