.container {
  width: 1158px;
  padding-left: 15px;
  padding-right: 15px;
  margin-right: auto;
  margin-left: auto;
}

.section {
  padding-top: 120px;
  padding-bottom: 120px;
}

.portfolio.section {
  padding-top: 96px;
}
